body{
    min-height: 100vh;
    display: flex; /* min-height ile yazılması gerek */
    justify-content: center; /* x eksenine göre ortalıyor */
    align-items: center; /* Boyutuna göre y eksenini ortalıyor */  
    

}

.colorBtn{
    padding: 0.25rem 0.25rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize; /*kelimerleri büyük harf ile başlatır */
    cursor: pointer;
    outline: none;
}

.colorBtn:hover{
    background: rgb(0,0,0) /*üstüne geldiğinde renk değişir */
}